name: break_reminder
description: Smart Desk Break Reminder
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ">=3.3.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  google_fonts: ^6.2.1
  go_router: ^14.6.3
  flutter_local_notifications: ^17.2.3
  shared_preferences: ^2.2.3
  provider: ^6.1.2
  flutter_blue_plus: ^1.18.17

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/images/
    - assets/icons/
